* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #e1e1e6;
}


nav {
  width: 40vw;
  position: absolute;
  cursor:default;
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 4rem;
  align-items: center;
}

nav img{
  width: 80px;
  padding-left: 20px;
}

nav a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text);
  text-decoration: none;
}


h1,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--text);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text);
}

.bold{
  font-weight: 800;
}

/*home*/
#home main button {
  cursor: pointer;
  width: 15rem;
  height: 3.5rem;
  margin-top: 2rem;
  
    
  font-size: 1rem;
  text-transform: uppercase; 
  
  border-radius: 5px; 
  background-color: transparent; 
  border: 1px white solid; 
}

#home main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*universe*/
 #page-universe,
 #page-exploration{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 32rem 0 8rem;
 }

 #page-universe h1,
 #page-exploration h1{
  font-size: 4rem;
  line-height: 10rem;
 }

 #page-universe p,
 #page-exploration p{
  font-size: 1.2rem;
  line-height: 2rem;
 }


/*backgrounds*/
#home,
#page-exploration,
#page-universe {
  height: 100vh;
}

#home {
  background-image: url(/assets/wp-home.png);
  background-position: bottom;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
}

#page-universe {
  pointer-events: none;
  background: url(/assets/wp-universe.png);
  background-position: bottom;
}

#page-exploration {
  pointer-events: none;
  background: url(/assets/wp-exploration.png);
  background-position: bottom;
}
